* {
    box-sizing: border-box;
  }

html {
    background-color: #ff7c7c; 
}
body {
    display:flex;
    flex-direction: column;
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font: #1b262c;
  }
  
.css,.js {
    height: 32px;
}



nav,
footer {
    padding: 1% 0;
    background-color: #3c416e;
    color: #ffd082;
  }

footer>a{
  color: #ffd082;
}
  
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    padding: 20px;
  }

header {
    padding: 12% 0;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Dosis';
    
  }
  
section {
    min-height: 200px;
    padding:20px;
    background-color: #ffd082;
    font-family: 'Kanit'
  }
  
section:nth-child(even) {
    background-color: #00a8cc;
  }

.live, .repo {
  color: #002517;
}

.repo:nth-child(odd){
  color: #172617;
}

.live:nth-child(odd){
  color: #172617;
}

#head-image {
    margin-top: 30px;;
}

#head-image, #app-image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

.bio {
    font-size: 16px;
    text-align: left;
    font-family: 'Kanit'
    
}

.app-description {
    text-align: left;
    padding: 15px;
    font-family: 'Dosis';
}

.github {
    height: 16px;
}

h1 {
    margin-bottom: 70px;
    font-size: 20px;
    word-wrap: break-word;   
}
h2 {
    margin-top: 50px;
}

.aboutme, .Projects, .Contact {
  border: none;
      border-radius: 5px;
      font-size: 17px;
      font-family: 'Kanit';
      background-color: #88e1f2;
}

@media (min-width: 768px) {
    header {
      grid-template-columns: 375px 370px;
      
    }
  
    h1 {
      font-size: 35px;
    }
  
    #head-shot {
      width: 350px;
    }
  
    .bio {
      font-size: 25px;
      padding: 10px;
    }
  
    .app-image {
      width: 250px;
      height: 250px;
    }
  
    section {
      grid-template-columns: 375px 375px;
      justify-content: space-around;
    }
  
    h2 {
      font-size: 30px;
    }
  
    h3{
      font-size: 25px;
    }

    .app-description {
        font-size: 20px;
        font: bold'
    }
} 
  

  @media (min-width: 1500px) {
    header {
     display: block;
     
    }
  
    h1 {
      font-size: 35px;
    }
    h3 {
        padding: 20px;
    }
  
    #head-image {
      width: 350px;
      height: 400px;
      float: right;
      
    }
  
    .bio {
      font-size: 30px;
      padding: 15px;
      width: 1000px;
      display:block;
      margin-left: 10%;
    
    }

    .app-description {
        width: 1000px;
        margin-left: 200px;
    }
  
  
    section {
      display: block;
      align-content: center;
    }
    
    .app-image {
      float: right;
      width: 400px;
      height: 400px;
    }

    .linkedin, .github {
        height: 24px;
        justify-content: space-evenly;
    }

    p {
        padding: 20px;
    }
  }   